<h2>Привет!</h2>
<p>AppCoocker - это сообщество интузиастов из расличных сфер IT, которые интересуются новыми технологиями, выкладывают проекты в OpenSource и делятся своими знаниями, умениями и навыками на различных площадках.</p>
<hr />
<ul class="fa-ul main-list">
   <li class="main-list-item">
   <span class="fa fa-github fa-lg main-list-item-icon"></span>
   <a href="https://github.com/appcoocker">GitHub</a>
   </li>
   <li class="main-list-item">
   <span class="fa fa-telegram fa-lg main-list-item-icon"></span>
   <a href="https://t.me/+8zoxE1LP93QzY2Vi">Telegram</a>
   </li>
</ul>
